<nav class="navbar navbar-default">
  <div class="container  container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}"><i class="fa fa-home"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}blog.html">BLOG</a></li>
				<li><a data-target="#" href="{{ site.baseurl }}index.html" data-toggle="dropdown" class="dropdown-toggle">PROJECTS<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="{{ site.baseurl }}aergia.html">Aergia</a></li>
							<li><a href="{{ site.baseurl }}helios.html">Helios</a></li>
							<li><a href="{{ site.baseurl }}hercules.html">Hercules</a></li>
							<li><a href="{{ site.baseurl }}ponos.html">Ponos</a></li>
							<li><a href="{{ site.baseurl }}poseidon.html">Poseidon</a></li>
							<li><a href="{{ site.baseurl }}odysseus.html">Odysseus</a></li>
							<li class="divider"></li>
							<li><a href="{{ site.baseurl }}index.html">portfolio</a></li>
						</ul>
				</li>
				<li><a href="{{ site.baseurl }}publications.html">PUBLICATIONS</a></li>
				<li><a href="{{ site.baseurl }}about.html">ABOUT</a></li>
			</ul>
		</div>
	</div>
</nav>
