<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="https://api.trello.com/1/client.js?key=9c7b97c958253a327e9c117e960cf5aa"></script>

  <body>
    <div id="wrap">
      {% include header.html %}
      <div class="content container">
        {{ content }}
      </div>
    </div>
    <!-- Footer -->
    {% include footer.html %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
    integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
    crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ site.baseurl }}static/js/docs.min.js"></script>
    <script src="{{ site.baseurl }}static/js/main.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ site.baseurl }}static/js/ie10-viewport-bug-workaround.js"></script>
    <script src="{{ site.baseurl }}static/js/polygon.js"></script>
    <script src="{{ site.baseurl }}static/js/two.min.js"></script>
    <script src="{{ site.baseurl }}static/js/prism.js"></script>
    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    {% include analytics.html %}
  </body>
</html>
