---
layout: page
---

<script>

Trello.setKey('9c7b97c958253a327e9c117e960cf5aa');
Trello.setToken('345e20b07d23833d0b22bdbfdde277a1e199c84bd2c41f63766eaef1c3749979');

var onSuccess = function(data) {
	var len = data['cards']['length'];
	for(i = 0; i < len; i++) {
		if(data['cards'][i]['labels']['length'] > 0) {
			var id = "#cards"
			switch(data['cards'][i]['labels'][0]['color']) {
				case 'green' : id = "#done"
			}
			$(id).append('<li class="list-group-item">' + data['cards'][i]['name'] + "</li>");
		}
	}
	for(i = 0; i < len; i++) {
		if(data['cards'][i]['name'] === 'PROGRESS')
			$("#cards").append('<li class="list-group-item">' + data['cards'][i]['name'] + "</li>");
	}
};
var onFailure = function() { console.log('Failed authentication'); };

//Trello.boards.get('0DtETzdW/lists', onSuccess, onFailure);
Trello.lists.get('{{ page.id }}?cards=open&card_fields=name,labels', onSuccess, onFailure);

</script>

<div class="container">
	<header class="col-md-4">
		<center>
		    <img class="img-circle" width="200" src={{ page.picture }} alt="Responsive image"></img>
		    <h1>{{ page.project_title }}</h1>
				<a href={{ page.github_link }}><i class="fa fa-github"></i></a>
				<hr/>
	  </center>
		<div class="message">
		    {{ page.description }}
		</div>
	</header>
	<div class="col-md-8">
    {{ content }}
    <center><h4>Development progress</h4></center>
    <div class="progress">
      <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width: 5%">
        5%
      </div>
    </div>
		<center><h4>Next tasks</h4></center>
		<ul id="cards" class="list-group">
		</ul>
    <center><h4>Done</h4></center>
    <ul id="done" class="list-group">
		</ul>
	</div>
</div>
